$white: #ffffff;
$black: #000000;
$black-blur: #00000027;
$very-light-pink: #c7c7c7;
$text-input-field: #f7f7f7;
$hospital-green: #acd9b2;
$sm: 14px;
/*Tamaño de la fuente*/
$md: 16px;
/*Tamaño de la fuente*/
$lg: 18px;
/*Tamaño de la fuente*/

// :export {
//   white: $white;
//   black: $black;
//   veryLightPink: $very-light-pink;
//   textInputField: $text-input-field;
//   hospitalGreen: $hospital-green;
//   sm: $sm;
//   md: $md;
//   lg: $lg;
// }